@model OpenQbit.ExternalBank.Common.Models.TransactionType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <h4>Transaction Type</h4>
    <hr />
    <form class="form-group">

        <label style="font-size:20px;">ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="height:50px; width:500px;" type=" text" class="text-danger" /></label><br /><br />

        <label style="font-size:20px;">Type :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="height:50px; width:1000px;" type=" text" class="text-danger" /></label><br /><br />

        <label style="font-size:20px;">Sub Type:&nbsp;&nbsp;&nbsp;<input style="height:50px; width:1000px;" type=" text" class="text-danger" /></label><br /><br />

        <label style="font-size:20px;">Status : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  /></label><br /><br />

        <center><input type="submit" value="Create" style="width:200px; " /></center>
       
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
