body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
#top{
    height:200px;
    width:99%;
    top:50%;
    background-color:sandybrown;
}

#customer{
    height:200px;
    width:200px;
    top:50%;
    background-color:gray;
}

#customer:hover{
    color:white;
}

#employee{
    height:200px;
    width:200px;
    top:50%;
    background-color:gray;
}

#employee:hover{
    color:white;
}

#account{
    height:200px;
    width:200px;
    top:50%;
    background-color:gray;
}

#account:hover{
    color:white;
}

#person{
    height:200px;
    width:200px;
    top:50%;
    background-color:gray;
}

#person:hover{
    color:white;
}

#transaction{
    height:200px;
    width:200px;
    top:50%;
    background-color:gray;
}

#transaction:hover{
    color:white;
}

#blank{
    height:50px;
    width:40px;
    top:50%;
    background-color:white;
}

#link{
    font-size:9px;
}