@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <div id="top">
        <font color="white" size="20"><p>External Bank </p></font>
    </div>
    <br /><br /><br />

    <div class="row">
        <div id="customer" class="col-md-4">
            <a href="~/Views/Customers/Create.cshtml"><font size="6"><p>Customer </p></font></a>

        </div>

        <div id="blank" class="col-md-4">
        </div>
       
        <div id="employee" class="col-md-4">
            <a href="http://localhost:2402/Employees/Create"><font size="6"><p>Employee </p></font></a>
           
        </div>

        <div id="blank" class="col-md-4">
        </div>

        <div id="account" class="col-md-4">
            <a href="~/Views/AccountTypes/"><font size="6"><p>Account Type </p></font></a>
        </div>

        <div id="blank" class="col-md-4">
        </div>

        <div id="person" class="col-md-4">
            <a href="~/Views/Account/"><font size="6"><p>Account </p></font></a>
        </div>

        <div id="blank" class="col-md-4">
        </div>

        <div id="transaction" class="col-md-4">
            <a href="~/Views/Transactions/"><font size="6"><p>Transaction </p></font></a>
        </div>
    </div>

</body>